.THIS .wrapper-form{
   display: flex;
   flex-direction: column;
   margin: 30px auto 0 0;
   justify-content: center;
   align-items: center;
}

.THIS .title{
   margin: 10px 0 10px 0;
   text-transform: uppercase;
   font-size: 20px;
   letter-spacing: 1.2px;
   font-weight: bold;
}

.THIS .form-info p{
   text-align: center;
   font-size: 18px;
   letter-spacing: 0.8px;
   margin: 30px 0 15px 0;
}

.THIS .form-info p>img{
   width: 11px;
   margin: 0 0 0 3px;
}

.THIS .btn{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   cursor: pointer;
   border-radius: var(--sds-c-button-radius-border, var(--lwc-buttonBorderRadius,.25rem));
   color: var(--sds-c-button-brand-text-color, var(--lwc-colorTextBrandPrimary,rgb(255, 255, 255)));
   border-color: var(--sds-c-button-brand-color-border, var(--lwc-brandAccessible,rgb(0, 112, 210)));
   background-color: var(--sds-c-button-brand-color-background, var(--lwc-brandAccessible,rgb(0, 112, 210)));
   height: 30px;
   width: 70px;
   box-shadow: none;
   top: 0px;
   left: 0px;
   transition: all .3s linear .1s;
   letter-spacing: 0.6px;
}

.THIS .btn:active {
   top: 2px;
}
.THIS .btn:hover {
   background: #114599;
}

.THIS .form-email{
   width: 240px;
   padding: 5px;
   outline:none;
   border-radius:10px;
}

.THIS .form-email:focus{
   box-shadow: 0 0 10px rgba(0,0,0,0.8);
   border:2px solid #4CAF50;
}

.THIS .form-select{
   width: 243px;
   padding: 5px;
   outline:none;
   border-radius:10px;
}

.THIS .form-select:focus{
   box-shadow: 0 0 10px rgba(0,0,0,0.8);
   border:2px solid #4CAF50;
}

.THIS .form-description{
   width: 240px;  
   height: 150px;
   margin: 0 0 10px 0;
   padding: 5px;
   resize: none;
   outline:none;
}

.THIS .form-description:focus{
   box-shadow: 0 0 10px rgba(0,0,0,0.8);
   border:2px solid #4CAF50;
}

.THIS .hidden {
   visibility:hidden;
   opacity:0;
   width:1px;
}

@media(max-width:1600px){
   .THIS .wrapper-form{  
      margin: 60px auto 0 0;
   }
}

@media(max-width:768px){
   .THIS .wrapper-form{  
      margin: 0 auto;
   }
}