.THIS .wrap-checkBox{
   display: flex;
}

.THIS .wrap-checkBox p {
   margin-left: 10px;
}

.THIS .table {
   border-collapse: collapse;
   border-left: 3px solid #36568A;
   border-right: 3px solid #36568A;
   border-bottom: 3px solid #36568A;
   font-family: "Lucida Grande", sans-serif;
}

.THIS .table caption {
   background: #36568A; 
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   padding: 10px;
   box-shadow: 0 2px  4px 0 rgba(0,0,0,.3);
   color: white;
   font-family: "Roboto Slab",serif;
   font-style: normal;
   font-size: 26px;
   text-align: center;
   margin: 0;
}

.THIS .table td {
   padding: 10px;
}

.THIS  .table th {
   padding: 10px;
}

.THIS .table th {
   text-align: center;
   font-size: 16px;
}

.THIS .table tr:nth-child(odd) {
   background: #b0b6cf;
}

.THIS .table tr:nth-child(even) {
   background: #fff;
}

.THIS .table td {
   text-align: center;
}

.THIS .btn-marge {
   display: inline-block;
   box-shadow: 2px 2px 0 0 #0031f5;
   position: relative;
   border-radius: var(--sds-c-button-radius-border, var(--lwc-buttonBorderRadius,.25rem));
   color: var(--sds-c-button-brand-text-color, var(--lwc-colorTextBrandPrimary,rgb(255, 255, 255)));
   border-color: var(--sds-c-button-brand-color-border, var(--lwc-brandAccessible,rgb(0, 112, 210)));
   background-color: var(--sds-c-button-brand-color-background, var(--lwc-brandAccessible,rgb(0, 112, 210)));
}

.THIS .btn-marge:hover {
   box-shadow: none;
   top: 2px;
   left: 2px;
}
.THIS .continue{
   margin-left: 10px;
   height: 30px;
   width: 70px;
   box-shadow: none;
   top: 0px;
   left: 0px;
   transition: all .3s linear .1s;
}

.THIS .continue:active {
   top: 2px;
}

.THIS .continue:hover {
   top: 0px;
   left: 0px;
   background: #114599;
}